// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

// BASE
@import "./base/common";
@import "./base/section";
@import "./base/container";

// COMPONENTS
@import "./components/title";
@import "./components/btn";
@import "./components/social-list";
@import "./components/logo-link";
@import "./components/mobile-menu";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/aktivity";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/portfolio";
@import "./layout/footer";
