// .clients-title {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   margin-bottom: 50px;
// }

// .client-menu {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }

// .client-menu-item {
//   flex-basis: calc((100% - 180px) / 6);
//   margin-left: 30px;
//   margin-top: 30px;
// }

// .client-list-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: border var(--transition-duration)
//     var(--transition-timing-function);

//   &:hover,
//   &:focus {
//     border: 1px solid var(--accent-color);
//   }
// }

// .client-list-icon {
//   fill: #afb1b8;
//   transition: fill var(--transition-duration) var(--transition-timing-function);

//   .client-list-link:hover &,
//   .client-list-link:focus & {
//     fill: var(--accent-color);
//   }
// }

// .client-one {
//   width: 40px;
//   height: 46px;
// }

// .client-two {
//   width: 40px;
//   height: 52px;
// }

// .client-three {
//   width: 42px;
//   height: 40px;
// }

// .client-four {
//   width: 84px;
//   height: 40px;
// }

// .client-five {
//   width: 62px;
//   height: 46px;
// }

// .client-six {
//   width: 94px;
//   height: 44px;
// }

.clients-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  color: var(--body-color);
}

.client-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-menu-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .client-list-link:hover &,
  .client-list-link:focus & {
    fill: var(--accent-color);
  }
}

.client-one {
  width: 44px;
  height: 50px;
}

.client-two {
  width: 40px;
  height: 52px;
}

.client-three {
  width: 40px;
  height: 42px;
}

.client-four {
  width: 80px;
  height: 42px;
}

.client-five {
  width: 60px;
  height: 48px;
}

.client-six {
  width: 88px;
  height: 44px;
}

@media screen and (min-width: 480px) {
  .client-menu {
    margin-left: -30px;
  }

  .client-menu-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-list-link {
    width: 226px;
    height: 90px;
  }

  .client-menu-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  .client-list-link {
    width: 170px;
    height: 92px;
    cursor: pointer;
  }

  .client-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .client-menu-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}
