// .portfolio-button-btn {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   color: var(--body-color);
//   background-color: var(--background-color-btn);
//   padding: 6px 22px;
//   border-radius: 4px;
//   border: none;
//   transition: color var(--transition-duration) var(--transition-timing-function),
//     background-color var(--transition-duration)
//       var(--transition-timing-function),
//     box-shadow var(--transition-duration) var(--transition-timing-function);

//   &:hover,
//   &:focus {
//     color: var(--white-color);
//     background-color: var(--accent-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }

// .portfolio-button-menu {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 50px;
// }

// .portfolio-button-menu-item:not(:last-child) {
//   margin-right: 8px;
// }

// /* =====END PORTFOLIO BUTTON===== */

// /* =====PORTFOLIO IMAGE===========*/
// .portfolio-image-menu-title {
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--body-color);
//   margin-bottom: 4px;
// }

// .portfolio-image-menu-text {
//   font-size: 16px;
//   line-height: 30px;
//   letter-spacing: 1.87;
//   color: var(--text-color);
// }

// .portfolio-image-menu {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }

// .portfolio-image-menu-item {
//   flex-basis: calc((100% - 90px) / 3);
//   margin-left: 30px;
//   margin-top: 30px;
//   transition: box-shadow var(--transition-duration)
//     var(--transition-timing-function);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .portfolio-list-content {
//   padding: 20px 24px;
//   border: 1px solid #eeeeee;
//   border-top: none;
// }

// .portfolio-image-wrapper {
//   position: relative;
//   overflow: hidden;
// }

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 1.55;
//   color: var(--white-color);
//   padding: 62px 24px;
//   background-color: rgba(33, 150, 243, 0.9);
//   overflow: auto;
//   transform: translateY(100%);
//   transition: transform var(--transition-duration)
//     var(--transition-timing-function);

//   .portfolio-link:hover &,
//   .portfolio-link:focus & {
//     transform: translateY(0%);
//   }
// }

.portfolio {
  &-button-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &-button-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--body-color);
    background-color: var(--background-color-btn);
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    transition: color var(--transition-duration)
        var(--transition-timing-function),
      background-color var(--transition-duration)
        var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &-button-menu-item {
    margin-bottom: 15px;
  }

  &-button-menu-item:not(:last-child) {
    margin-right: 8px;
  }

  // /* =====END PORTFOLIO BUTTON===== */

  // /* =====PORTFOLIO IMAGE===========*/

  &-image-menu-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--body-color);
    margin-bottom: 4px;
  }

  &-image-menu-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
  }

  &-image-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &-image-menu-item {
    transition: box-shadow var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-list-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &-image-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  padding: 62px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &-button-menu {
      justify-content: center;
      margin-bottom: 30px;
    }

    &-image-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -30px;
      // margin-top: -30px;
    }

    &-image-menu-item {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: 30px;
      // margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    &-image-menu-item {
      flex-basis: calc((100% - 90px) / 3);
    }

    &-button-menu {
      margin-bottom: 50px;
      margin-top: 94px;
    }

    &-image-menu {
      margin-bottom: 94px;
    }
  }
}
