.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: var(--white-color);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
