.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--white-color);
  }
}
