:root {
  --accent-color: #2196f3;
  --body-color: #212121;
  --black-color: #000000;
  --text-color: #757575;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --background-color-btn: #f5f4fa;
  --main-font: "Roboto", "Raleway", sans-serif;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
